<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.googlecode.droidwall"
      android:allowClearUserData="false" android:versionCode="142" android:versionName="1.4.2">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	    <receiver android:name="BootBroadcast" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
	    	<intent-filter><action android:name="android.intent.action.BOOT_COMPLETED"></action></intent-filter>
		</receiver>
        <receiver android:name="StatusWidget">
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/onoff_widget" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.googlecode.droidwall.intent.action.STATUS_CHANGED"/>
                <action android:name="com.googlecode.droidwall.intent.action.TOGGLE_REQUEST"/>
            </intent-filter>
        </receiver>
	</application>
    <uses-sdk android:minSdkVersion="3" />
</manifest> 